@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.headline-section {
  display: flex;
  gap: 36px;
}

.headline {
  flex: 1;
}

.headline-img-placeholder {
  background-color: #aaa;
  color: #f8f8f8;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-section {
  border: solid red 1px;
  padding: 30px;
}

.info-section h2 {
  text-align: center;
  margin-bottom: 30px;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}

.info {
  /* flex-basis: auto; */
  width: 110px;
}

.info-text {
  text-align: center;
  font-size: 11px;
  color: #505a68;
}

.info-img-placeholder {
  width: 110px;
  height: 110px;
  border: solid #3b83f6 3px;
  border-radius: 10px;
  margin-bottom: 5px;
}
