@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

.top-wrapper {
  background-color: #1f2937;
  padding: 0 16px;
}

.header, .headline-section {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 16px 0px 0px;
  max-width: 950px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.header ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.header a {
  font-size: 18px;
  color: #e5e7eb;
}

.header a:hover {
  color: white;
}

.headline-section {
  display: flex;
  gap: 36px;
  padding-top: 130px;
  padding-bottom: 150px;
  max-width: 950px;
}

.headline {
  flex: 1;
}

.headline h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.headline p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 14px;
}

.headline-img-placeholder {
  background-color: rgba(255, 255, 255, 50%);
  color: white;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline button {
  background-color: #3882f6;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #f9faf8;
  padding: 8px 36px;
}

.info-section {
  padding: 50px;
}

.info-section h2 {
  font-size: 36px;
  color: #1f2937;
  text-align: center;
  margin-bottom: 50px;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}

.info {
  /* flex-basis: auto; */
  width: 175px;
}

.info-img-placeholder {
  width: 175px;
  height: 175px;
  border: solid #3882f6 4px;
  border-radius: 16px;
  margin-bottom: 5px;
}

.info-text {
  text-align: center;
  font-size: 18px;
  color: #505a68;
}
